/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/commons/title/styles.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.styles_title__KxLQv {
  font-size: 1.125rem;
}

.styles_sub_title__eJYZE {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.styles_title__KxLQv,
.styles_sub_title__eJYZE {
  width: 100%;
  font-weight: 700;
  line-height: 1.5rem;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/commons/place-card/styles.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.styles_card__AxIC1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 9.5rem;
}

.styles_card_image__1g5ge {
  border-radius: 0.5rem;
  width: 9.5rem;
  height: 12.5rem;
}

.styles_description__MVgau {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--gray-700);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/commons/address/styles.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.styles_address__fl9X4 {
  display: flex;
  align-items: center;
}

.styles_location__rRUtD {
  width: 1rem;
  height: 1rem;
}

.styles_address_text__VczlM {
  color: var(--gray-600, #777);
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 1.25rem;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/domains/solplace-logs-list/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_section__Lfmq0 {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.styles_cards__do3uG {
  width: 100%;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1.25rem;
}

.styles_no_place_wrapper__g9c95 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.styles_no_place__fv6x1 {
  width: 6.375rem;
  height: 2.5rem;
  color: var(--gray-700);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
}

.styles_floating_button__gxByX {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 5.5rem;
  right: 1.25rem;
}

.styles_toast__FYt_w {
  width: 100%;
  position: absolute;
  top: 0.625rem;
  left: 0;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/commons/layout/footer/styles.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.styles_footer__umUoU {
  padding-top: 1.25rem;
  width: 100%;
}

.styles_fixed__JO1Aa {
  position: fixed;
  bottom: 0;
  left: 0;
}

.styles_button__DKoPl {
  padding-bottom: 1.25rem;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/commons/button/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.styles_button__iCNZ2 {
  width: 100%;
  font-weight: 700;
  text-align: center;
}

/* color */
.styles_blue__kX10Q {
  background-color: var(--blue);
  color: var(--gray-W);
}

.styles_black__GyOVP {
  background-color: var(--gray-B);
  color: var(--gray-W);
}

.styles_blue__kX10Q,
.styles_black__GyOVP {
  &:disabled {
    background-color: var(--gray-300);
    color: var(--gray-100);
  }
}

.styles_white__h3208 {
  background-color: var(--gray-W);
  color: var(--gray-B);
  border: 0.063rem solid var(--gray-B);

  &:disabled {
    background-color: var(--gray-50);
    color: var(--gray-300);
    border: 0.063rem solid var(--gray-300);
  }
}

/* size */
.styles_s__I2AzK {
  width: 100%;
  height: 2.75rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.styles_m__2Ers3 {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  line-height: 1.5em;
}

/* shape */
.styles_rectangle__YDCm1 {
  border-radius: 0.5rem;
}

.styles_circle__4J2O7 {
  border-radius: 6.25rem;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/commons/navigation/styles.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.styles_nav__H7_L3 {
  width: 100%;
  display: flex;
  background-color: var(--gray-W);
  border: 1px solid var(--gray-50);
  padding: 0.5rem 1.25rem;
}

.styles_nav_button__MrvNA {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: var(--gray-600);

  font-size: 0.688rem;
  font-weight: 600;
  line-height: 0.75rem;

  &:disabled {
    color: var(--gray-B);
  }
}

.styles_nav_icon__ZmUPq {
  width: 1.5rem;
  height: 1.5rem;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/commons/toast/styles.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.styles_toast__YLgzo {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  text-align: center;
  color: var(--gray-W);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;

  animation: styles_fadeIn__gw0tp 0.3s forwards, styles_fadeOut__xAHDU 0.3s 3s forwards;
}

@keyframes styles_fadeIn__gw0tp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes styles_fadeOut__xAHDU {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

