@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-suit-variable);
}

html {
  font-size: calc((40 / 9) * 1vw);
}

@keyframes 이동하기_이전페이지애니메이션 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes 이동하기_다음페이지애니메이션 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

html::view-transition-old(root) {
  animation-name: 이동하기_이전페이지애니메이션;
  animation-duration: 1s;
}

html::view-transition-new(root) {
  animation-name: 이동하기_다음페이지애니메이션;
  animation-duration: 0.5s;
}

/* Section10/10-01-view-transition: 페이지이동(뒤로가기) 애니메이션 */
@keyframes 뒤로가기_이전페이지애니메이션 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes 뒤로가기_다음페이지애니메이션 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html.뒤로가기::view-transition-old(root) {
  animation-name: 뒤로가기_이전페이지애니메이션;
  animation-duration: 0.5s;
}

html.뒤로가기::view-transition-new(root) {
  animation-name: 뒤로가기_다음페이지애니메이션;
  animation-duration: 1s;
}
