.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.label_text {
  color: var(--gary-800);
  line-height: 1.25rem;
}

.star {
  color: var(--red);
  line-height: 1rem;
}

.textarea_box {
  position: relative;
}

.textarea {
  background-color: var(--gray-W);
  color: var(--gray-B);
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 1.2rem 1rem 2rem;
  width: 100%;
  resize: none;
  border: 0.063rem solid var(--gray-200);
  font-weight: 500;

  &::placeholder {
    color: var(--gray-400);
  }

  &:focus {
    border: 0.063rem solid var(--gray-600);
  }
}

.contents_length {
  position: absolute;
  bottom: 0.75rem;
  right: 1rem;
  color: var(--gray-400);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
